body{
	background-color:#1f104f;
	text-align:center;
	font-family:Verdana,Helvetica;
	font-size: 1.3em;	
}
input{
	background-color:#FFFF00;
	font-size:6vw;
	width:180px;
	height:180px;
	margin:0;
	color:#FFFF00;
	border-radius: 5px;
}

#joga{
	display:flex;
	justify-content: center;
}
	
#jogador{
display: inline;		
}

h1{
background-color: #FFFF00;
width: 200px;
}

#reiniciar{
	margin-top: 2%;
	width:8vw;
	height: 4vw;
	font-size:1em;
	color:#000;
}

#voltar{
	margin-top: 2%;
	width:8vw;
	height: 4vw;
	font-size:1em;
	color:#000;
}

#mutarMusica{
  margin-left:-830px;
  border: 2px solid gray;
  margin-top:-2px;
  position:absolute;
  border-radius:60px;
  font-weight:bold;
  cursor:pointer;
  font-family: Consolas;
  font-size:17px;
  width: 50px;
  height: 50px;
  background-color: rgb(177, 177, 177);
  transition:all 0.3s;
}
#mutarMusica:hover{
  background-color:rgb(255, 253, 253);
}	