body{
    background-color:black;
}
canvas {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

#mutarMusica{
  margin-left:5px;
  border: 2px solid gray;
  margin-top:-2px;
  position:absolute;
  border-radius:60px;
  font-weight:bold;
  cursor:pointer;
  font-family: Consolas;
  font-size:17px;
  width: 50px;
  height: 50px;
  background-color: rgb(177, 177, 177);
  transition:all 0.3s;
}
#mutarMusica:hover{
  background-color:rgb(255, 253, 253);
}	